@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply border border-solid border-borderGray bg-white rounded-md px-6 py-8 shadow-md drop-shadow-md
  }
  h1 {
    @apply text-3xl tracking-wider
  }
  h2 {
    @apply text-2xl tracking-wider mb-8
  }
  h3 {
    @apply text-xl tracking-wider mb-4
  }
  h4 {
    @apply text-lg tracking-wider mb-2
  }
  p {
    @apply text-base tracking-wide leading-7
  }
  a {
    @apply hover:text-primary
  }
  form fieldset {
    @apply flex flex-col mb-8
  }
  form fieldset legend {
    @apply text-sm font-bold tracking-wide
  }
  form fieldset.required legend {
    @apply after:content-['必須'] after:text-errorRed after:text-sm after:tracking-wide after:ml-2
  }
  form input {
    @apply mt-2 text-base tracking-wide py-2 px-4 border border-solid border-borderGray rounded
  }
}

summary {
  list-style: none; /* マーカーを消す */
  -webkit-appearance: none; /* iOS Safariでのデフォルトスタイルをリセット */
  display: list-item; /* マーカーを消すための補助 */
}

summary::-webkit-details-marker {
  display: none; /* デフォルトのマーカーを消す */
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}